html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* END OF RESET ================
 * 
 */
/*CUSTOM STYLES ======================
 *
 */
body {
  font: "Lucida Console";
  color: red;
}
h1 {
  font-size:200;
  color: #648880;
}

h2 {
  font-size: 24;
}




/*     GRID =================
 *
 */

.container {
  width: 960px;
  margin: 0 auto;
}
.name {

  font-size: 70px;
  font-weight: 400;
}  

.main-link {
  font-size: 30px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block
  text-align: left
}
  

